* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    /* COLORES EXTRAÍDOS DE LA FOTO REAL */
    --verde-fachada: #32CD32;    /* El verde vibrante/loro de las paredes */
    --verde-oscuro: #006400;     /* El verde pino del cartel y el toldo */
    --gris-azulejo: #708090;     /* El gris azulado de la base de la pared */

    /* TONOS DE CONTRASTE Y FONDO */
    --crema-fondo: #FDF5E6;      /* El Marfil/Crema (Old Lace) para el body */
    --blanco-puro: #FFFFFF;      /* Para textos sobre fondo oscuro */
    --negro-suave: #333333;      /* Para que el texto no sea un negro tan duro */
    --fondo-hero:#B7E4C7;
    
    /* ACENTOS DE BOOTSTRAP REESCRITOS */
    --bs-primary: var(--verde-fachada);
    --bs-dark: var(--verde-oscuro);
    --marfil-letras: #FDF5E6; /* El tono crema para el texto */
    --fondo-sitio: #F8F9FA;   /* Un blanco grisáceo para que el fondo sea claro */
    --fuente-logo: "Playfair Display", serif;
    --fuente-hero: "Roboto",serif;
}
.navbar-farmacia{
    background-color: #006400;
    border-bottom: solid 3px var(--verde-fachada);
}

.navbar-farmacia .navbar-brand{
    color:var(--blanco-puro);
    font-weight: 600;
    transition: transform 0.3s ease;
    font-family: var(--fuente-logo);
    letter-spacing: 1px;
}

.navbar-farmacia .navbar-brand:hover{
    transform: scale(1.05);
}

.navbar-farmacia .nav-link{
   color:var(--marfil-letras);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1.1rem;
   border-bottom: 3px solid transparent;
   transition: 0.2s ease;
   font-weight: 500;
   letter-spacing: 2px;
}

.navbar-farmacia .nav-link.active{
    border-bottom: 3px solid #FDF5E6;
    color: #FDF5E6;
}

.navbar-farmacia .nav-link:hover{
    color: #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}

.navbar-farmacia .navbar-toggler{
   border:none;
   box-shadow: none;
   padding: 5px;
}

body{
    background-color: var(--fondo-sitio);
}

.hero-farmacia{
    background-color: var(--fondo-hero); 
    border-top: 2px solid var(--negro-suave);
    border-bottom: 2px solid var(--negro-suave);
    box-shadow: 0 10px 25px -10px rgba(45, 106, 79, 0.3);
    padding: 60px 0;
    font-family: var(--fuente-hero);
}

.hero-farmacia p{
    color: var(--negro-suave);
    font-weight: 500;
}

.hero-farmacia h1{
    color: var(--negro-suave);
    font-family: var(--fuente-hero);
    font-weight:600;
}


.card-formulario{
    background-color: var(--marfil-letras);
    border-radius: 30px;
    border-left: 5px solid var(--verde-oscuro);
}

.card-formulario .btn-success{
    background-color: var(--verde-fachada);
    color: #050101;
    font-weight: 600;
    border: 1px solid var(--verde-oscuro);
    transition: 0.3s;
}

.card-formulario .btn-success:hover{
    background-color: var(--verde-oscuro);
    color: var(--marfil-letras);
    transform: translateY(-2px);
}

.card-contacto{
    background-color: var(--blanco-puro);
    padding: 20px;
    border-radius: 15px;
    border-left: 5px solid var(--verde-fachada);
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05), 
                0 8px 25px rgba(50, 205, 50, 0.1);
}

.card-contacto:hover{
    transform: translateY(-5px);
    border: 1px solid var(--verde-fachada);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1), 
                0 15px 40px rgba(50, 205, 50, 0.25);
}

.card-contacto i{
    color: var(--verde-fachada);
    font-size: 1.8rem;
    width: 40px;
    text-align: center;
    text-shadow: 0 0 10px rgba(50, 205, 50, 0.3);
    transition: transform 0.3s ease;
}

.card-contacto i:hover{
    transform: scale(1.2) rotate(-5px);
    color: #28a745;
}

.card-contacto span{
    color: #2c3e50;
    font-size: 1.05rem;
    margin-left: 10px;
    letter-spacing: 0.5px;
}

.card-contacto .small{
    display: block;
    margin-top: 5px;
    padding-left: 50px;
    letter-spacing: 0.5px;
}

.card-mapa{
    background-color: var(--blanco-puro);
    padding:0;
    overflow: hidden;
    border: solid 1px var(--verde-fachada);
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05), 
                0 8px 25px rgba(50, 205, 50, 0.1);
}

.card-mapa:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1), 
                0 15px 40px rgba(50, 205, 50, 0.25);
}
.card-mapa iframe {
    pointer-events: none; 
    filter: grayscale(15%) contrast(90%); 
    transition: all 0.5s ease;
}
.card-mapa:active iframe,
.card-mapa:hover iframe {
    pointer-events: auto;
    filter: grayscale(0%) contrast(100%);
}

.bloque-texto {
    background-color: var(--blanco-puro); 
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05); 
    border-left: 5px solid var(--verde-fachada); 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.3s ease;
}

.foto-historia {
    border: 3px solid var(--verde-fachada); 
    padding: 5px;           
    background-color: white;
    transition: all 0.4s ease;
}

.foto-historia:hover {
    transform: translateY(-5px); 
    box-shadow: 0 15px 30px rgba(45, 106, 79, 0.2);
}


.bloque-texto h2 {
    color: var(--verde-oscuro); 
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 1.2;
}

.bloque-texto .lead {
    color: #2D6A4F;
    font-weight: 500;
}

.bloque-texto p {
    color: #495057; 
    line-height: 1.6;
}

.link-verde {
    color: var(--verde-fachada);
    position: relative;
    transition: color 0.3s;
}

.link-verde:hover {
    color: #1B4332;
    text-decoration: underline !important;
}

.card-requisitos{
    background-color: var(--blanco-puro);
    border-radius: 15px;
    border-left: 5px solid var(--verde-fachada);
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.item-requisito {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem; 
}

.icono-requisito {
    color: var(--verde-fachada);
    font-size: 1.8rem;
    width: 40px; 
    text-align: center;
}

.info-requisito {
    flex: 1; 
}

.label-requisito {
    display: block;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--negro-suave);
    margin-bottom: 2px;
}

.detalle-requisito {
    margin: 0;
    font-size: 0.95rem;
    line-height: 1.4;
    color: var(--negro-suave); 
}

.table-responsive{
    border-left: 5px solid var(--verde-fachada);     
    background-color: rgba(40, 167, 69, 0.03);
    border-radius: 15px; 
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.mi-tabla th{
    background-color: rgba(40, 167, 69, 0.03);
    border: none;
    padding: 15px;
}


.mi-tabla tbody tr:nth-child(even) td {
    background-color: rgba(40, 167, 69, 0.03);
}

.mi-tabla tbody tr:nth-child(odd) td {
    background-color: var(--crema-fondo);
}

.mi-tabla tbody tr {
    transition: all 0.2s ease-in-out; 
}

.mi-tabla tbody tr:hover td {
    background-color: rgba(40, 167, 69, 0.1);
    color: var(--verde-oscuro); 
    cursor: pointer;
}
.logo-tabla {
    width: 60px;
    height: 40px;
    background-color: #fff;
    object-fit: contain;
    padding: 2px;
    border-radius: 4px;
}
@media (max-width: 768px) {
    .mi-tabla {
        min-width: 800px !important; 
    }
    .mi-tabla td:first-child {
        min-width: 180px;
    }
}

.btn-atajo {
    display: inline-block;
    background-color: var(--verde-oscuro); 
    color: var(--marfil-letras);
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 6px;
    font-weight: 700;
    transition: all 0.3s ease;
    border: 2px solid var(--verde-fachada);
}

.btn-atajo:hover {
    filter: brightness(1.2);
    transform: translateY(-2px);
}

.card-producto{
    background-color: var(--blanco-puro);
    border: 3px solid var(--verde-fachada);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5px;
}

.card-producto:hover {
    transform: translateY(-5px);    
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
}

.header-producto {
    padding: 20px;          
    display: flex;        
    align-items: center;
    height: 200px;
    border-bottom: 2px solid var(--verde-oscuro);        
}


.img-producto {
    max-width: 100%;        
    max-height: 100%;      
    object-fit: contain;    
    display: block;
    mix-blend-mode: multiply; 
    filter: contrast(110%);
}

.info-producto{
    padding: 15px;
}

.btn-comprar {
    width: 100%;             
    background-color: var(--verde-oscuro); 
    color: var(--marfil-letras);
    border: none;
    padding: 10px;           
    border-radius: 10px;     
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.85rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;       
}

.btn-comprar:hover {
    background-color: var(--verde-fachada);
    color: var(--negro-suave); 
}

.seccion-obras{
    background-color: var(--blanco-puro);
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    border-top:2px solid var(--verde-fachada);
    border-bottom:2px solid var(--verde-fachada);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05); 
}

.titulo-cinta{
    font-family: var(--fuente-logo);
}

.logo-os {
    max-height: 55px; 
    width: auto;
    filter: grayscale(100%); 
    opacity: 0.7;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto;
}

.logo-os:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.05);
}

.btn-os {
    display: inline-block;
    text-decoration: none;
    color: #2c7a7b; 
    border: 2px solid #2c7a7b;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: bold;
    font-family: var(--fuente-hero);
    transition: all 0.3s ease;
}

.btn-os:hover {
    background-color: #2c7a7b;
    color: var(--marfil-letras);
}

.seccion-laboratorios{
    background-color: var(--blanco-puro);
    position: relative;
    border-bottom: 1px solid var(--verde-fachada);
}

.seccion-laboratorios .titulo-cinta{
    letter-spacing: 2px;
    color: var(--negro-suave);
    font-size: 1.05rem;
    font-family: var(--fuente-hero);
}

.logo-lab {
    max-height: 45px; 
    width: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all 0.3s ease;
}

.logo-lab:hover {
    filter: grayscale(0%);
    opacity: 1;
    transform: scale(1.25);
}

.seccion-final{
    background-color:var(--crema-fondo);
}

.seccion-final h4{
    font-family: var(--fuente-logo);
    color: var(--verde-oscuro);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.75rem;
    letter-spacing: 2px;
}

.seccion-final p{
    font-family: var(--fuente-hero);
    color: var(--negro-suave);
    font-weight: 500;
}

.logo-pago, 
.logo-pago-secundario {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    transition: all 0.3s ease;
    object-fit: contain;
}

.logo-pago {
    height: 50px; 
    width: auto;
}

.logo-pago-secundario {
    height: 45px;
    width: auto;
}

.logo-pago:hover, 
.logo-pago-secundario:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.contenedor-mapa {
    width: 100%;
    border-radius: 15px; 
    overflow: hidden;    
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.mapa-farmacia {
    width: 100%;
    height: 400px; /* Altura en PC */
    display: block;
    border: 0;
}

@media (max-width: 768px) {
    .mapa-farmacia {
        height: 300px; 
    }
    
    .seccion-final .col-md-5 {
        margin-bottom: 2.5rem; 
    }
}


.footer-farmacia{
    background-color: var(--verde-oscuro);
    border-top: 3px solid var(--verde-fachada);
}


.footer-farmacia h4{
    font-family: var(--fuente-logo);
    color: var(--crema-fondo);
    font-weight: 500;
}

.footer-farmacia h5{
    font-family: var(--fuente-hero);
    color: var(--crema-fondo);
    font-weight: 500;
}

.footer-farmacia{
    color: #E1E8E8;
    font-family: var(--fuente-logo);
}

.footer-farmacia ul li a{
    color: #E1E8E8;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s ease;
    padding-bottom: 2px;
}


.footer-farmacia ul li a:hover{
    color: #FFFFFF;
    transform: scale(1.1);
}
.footer-farmacia .col-md-3{
    border-bottom: solid 2px var(--gris-azulejo);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 768px) {
    .footer-farmacia .col-md-3 {
        border-bottom: none;
        margin-bottom: 0;
    }
}

.fixed-width {
    width: 40px;
    text-align: center;
}

.footer-farmacia .col-12{
    color: #E1E8E8;
    font-weight: 600;
}

